<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="DemoHibernate">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">EokRn1lVC9</property>
  <property name="hibernate.connection.url">jdbc:mysql://remotemysql.com:3306/B71AuRGuH9</property>
  <property name="hibernate.connection.username">B71AuRGuH9</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>

  <mapping class="com.musicweb.model.entity.Users"></mapping>
  <mapping class="com.musicweb.model.entity.Singers"></mapping>
  <mapping class="com.musicweb.model.entity.Songs"></mapping>
  <mapping class="com.musicweb.model.entity.Albums"></mapping>
  <mapping class="com.musicweb.model.entity.Playlists"></mapping>
 </session-factory>
</hibernate-configuration>